main{
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
#playerElements .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img{
    max-width: 20vw;
}
#playerElements, #computerElements{
    display: flex;
    flex-wrap: wrap;
    padding: 2px 16px;
    flex-shrink: 0;
    justify-content: space-between;
}